absl-py==2.1.0
APScheduler==3.11.0
astunparse==1.6.3
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachetools==5.5.2
camel-kenlm==2024.5.6
camel_tools==1.5.5
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
dill==0.3.9
docopt==0.6.2
docutils==0.21.2
editdistance==0.8.1
emoji==2.14.1
feedparser==6.0.11
filelock==3.18.0
Flask==3.1.0
flatbuffers==20181003210633
fonttools==4.56.0
fsspec==2025.3.0
future==1.0.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
huggingface_hub==0.29.3
id==1.5.0
idna==3.10
importlib_metadata==8.6.1
iso8601==2.1.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.4.2
keras==3.9.0
keyring==25.6.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplot==0.1.9
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.6.0
mpmath==1.3.0
muddler==0.1.3
namex==0.0.8
networkx==3.4.2
nh3==0.2.21
numpy==1.26.4
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
pycparser==2.22
Pygments==2.19.1
pyloco==0.0.139
pyparsing==3.2.1
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
reader==3.16
readme_renderer==44.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
SecretStorage==3.3.3
sgmllib3k==1.0.0
SimpleWebSocketServer==0.1.2
six==1.17.0
soupsieve==2.6
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tf_keras==2.19.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.19.1
torch==2.6.0
tqdm==4.67.1
transformers==4.43.4
twine==6.1.0
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
ushlex==0.99.1
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.17.2
zipp==3.21.0
