{% extends 'index.html' %}

{% block header %}
    <h1 class="my-4">Entries ({{limit}} / {{total_entries}})</h1>
    <a href="{{ url_for('entries', start=next_start, limit = limit) }}" class="btn btn-primary btn-block">Next Page</a>
    {% if prev_start > 0 %}
        <a href="{{ url_for('entries', start=prev_start, limit = limit) }}" class="btn btn-primary btn-block">Previous Page</a>
    {% endif %}
{% endblock %}

{% block map %}
    {% include 'map.html' %}
{% endblock %}

{% block content %}

 
 {% for entry in entries %}
        <div class="card mb-4 w-100">
            <div class="card-header w-100">
                <h5 class="card-title">{{ entry.title }}</h5>
                <!-- language badge-->
                {% if entry.language %}
                    <span class="badge badge-secondary m-1">{{ entry.language }}</span>
                {% endif %}
                {% if entry.LOC %}
                    {% for location in entry.LOC | load_json %}  
                        <span class="badge badge-danger m-1">{{ location }}</span>
                    {% endfor %}
                {% endif %}
                {% if entry.PER %}
                    {% for person in entry.PER | load_json %}  
                        <span class="badge badge-warning m-1">{{ person }}</span>
                    {% endfor %}
                {% endif %}
                {% if entry.ORG %}
                    {% for org in entry.ORG | load_json %}  
                        <span class="badge badge-info m-1">{{ org }}</span>
                    {% endfor %}
                {% endif %}
                {% if entry.MISC %}
                    {% for misc in entry.MISC | load_json %}  
                        <span class="badge badge-success m-1">{{ misc }}</span>
                    {% endfor %}
                {% endif %}
                
            </div>
            <div class="card-body">
                <div class="row">
                    
                    <p class="card-text">{{ entry.summary | safe }}</p>
                    
                </div>
                <div class="row">
                    {% if entry.enclosures %}
                        {% for enclosure in entry.enclosures %}
                            <div class="row p-3">
                                <img class="img-fluid img-thumbnail" src="{{ enclosure.href }}" alt="{{ enclosure.title }}">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                {{ entry.published }}
                <a href="{{ entry.link }}" class="card-link">{{ entry.link.split('/')[2] }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}