<!DOCTYPE html>
<html>
<head>
    <title>Entries</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='^/styles.css') }}" rel="stylesheet">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/HeatLayer.js') }}"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
</head>
<body class="bg-light">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Sidebar -->
                <nav id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-grey">
                    {% include 'sidebar.html' %}
                </nav>
                <!-- Main content -->
                <main role="main" class="justify-content-center flex-grow-1 h-100 overflow-auto p-0">
                    <div class="row p-0 justify-content-center h-100">
                        <div class="container d-flex flex-wrap justify-content-center overflow-auto " style="width: 40%; height:100%">
                            <div>
                                {% block header %}
                                {% endblock %}
                            </div>
                            <div class="container p-5">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        <div style="width: 60%; height:100%" class="p-0">
                            {% block map %}
                            {% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>