<div class="bRSS_sidebar h-100">
    <h5 class="sidebar-heading">BelaRSS - {{page}}</h5>
    <ul class="nav nav-pills flex-column mb-auto ">
        <li class="nav-item">
            <a class="nav-link {% if page == 'Entries' %}active{% endif %}" aria-current="page" href="{{ url_for('entries', year=0,month=0,day=0) }}">
                <i class="bi bi-sticky"></i>
                Entries
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page == 'Search' %}active{% endif %}" href="{{ url_for('search_form') }}">
                <i class="bi bi-search"></i>
                Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page == 'Feeds' %}active{% endif %}" href="{{ url_for('feeds') }}">
                <i class="bi bi-rss"></i>
                Feeds
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page == 'New Feed' %}active{% endif %}" href="{{ url_for('new_feed') }}">
                <i class="bi bi-plus"></i>
                New Feed
            </a>
        </li>
    </ul>

    <hr> 

    <div class="d-flex justify-content-center my-3 gap-2">
        {{year}}/{{month}}/{{day}}<span class="badge badge-primary m-1">{{entries | length }}</span>
    </div>
    <div class="d-flex justify-content-center my-3 gap-2">
        <div id="cal-heatmap"></div><br>
    </div>
    <div class="d-flex justify-content-center my-3 gap-2">
        <button id="prev-month" onclick="cal.previous()" class="btn btn-link">
            ← 
        </button>
        <button id="next-month" onclick="cal.next()" class="btn btn-link">
            →
        </button>
    </div>

    <hr> 

    <script>
        var cal = new CalHeatMap();
        cal.init({
          itemSelector: "#cal-heatmap",
          domain: "month",
          subDomain: "day",
          subDomainTextFormat: '%d',
          range: 1,
          cellSize: 18,
          start: new Date("2025-05-01"),
          legend: [1, 300, 500, 1000],
          displayLegend: true,
      
          // ✅ Load from Flask endpoint
          data: "/calendar/heatmap",
          dataType: "json",
      
          // ✅ Redirect when a date cell is clicked
            onClick: function(date, count) {
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // 0-based month
                const day = String(date.getDate()).padStart(2, '0');
                window.location.href = `/entries/${year}/${month}/${day}`;}
        });
      </script>

